<div class="bg-image"></div>
<div class="nav-placeholder"></div>

<div *ngIf="orderList.length !== 0"
     class="container-fluid d-flex flex-column align-items-center mx-0 px-0 mt-5 content">

  <!-- LIST -->

  <div *ngFor="let item of orderList"
       class="custom-card p-0 m-1">
    <app-order-list [item]="item"
                    (modifyItem)="updateOrderList($event)"
                    (deleteItem)="deleteOrder($event)"
                    style="width: 100%;"></app-order-list>
  </div>

  <!-- TOTAL PRICE -->
  <div class="total m-1">
    <h1 class="m-3">Total price: {{totalPrice()}} Ft</h1>
    <!-- PLACE ORDER -->
    <button (click)="placeOrder()"
            class="btn btn-primary btn-lg mb-4"
            type="button">Place Order</button>
  </div>
</div>

<!-- MESSAGE BOXES -->

<!-- CART EMPTY -->
<div *ngIf="orderList.length == 0 && thankYou == false"
     class="container-fluid d-flex flex-column align-items-center mx-0 px-0 content">

  <div class="total mt-5 py-5">
    <h1>Your cart is empty.</h1>
  </div>
</div>
<!-- THANK YOU -->
<div *ngIf="thankYou"
     class="container-fluid d-flex flex-column align-items-center mx-0 px-0 content">

  <div class="total mt-5 py-5">
    <h1 style="color: #72d375 ;">Thank you for your order!</h1>
  </div>
</div>

<!-- CHECK OUT MODULE -->

<app-check-out *ngIf="checkOutModuel"
               [(orderList)]="orderList"
               [(checkOutModule)]="checkOutModuel"
               [user]="user"
               [(thankYou)]="thankYou"
               [totalPrice]="totalPrice()"></app-check-out>