<div class="bg-image">
  <div class="nav-placeholder"></div>

  <div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 58px);">

    <div class="card" style="max-width: 400px;">
      <div class="card-body d-flex flex-column align-items-center">
        <h1 class="card-title mb-5">Sandwich Shop</h1>
        <h4 class="card-title">Make a sandwich <span>fast</span> and <span>easy</span>.</h4>
        <button (click)="letsGo()" class="btn btn-primary btn-lg mt-5">Let's Go!</button>
      </div>
    </div>
  </div>
</div>