.bg-image {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(-150deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8) 80%),
        url(../../../assets/background_02.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

.container-fluid {
    color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span {
    color: red;
}
