<div class="bg-image">
  <div class="nav-placeholder"></div>

  <div class="container-fluid d-flex align-items-center justify-content-center"
       style="min-height: calc(100vh - 58px);">

    <div class="container"
         style="max-width: 400px;">
      <div class="card">

        <div class="card-header text-center">
          <h1>
            Reset Password
          </h1>
        </div>
        <div class="card-body">
          <form class="d-flex flex-column">
            <div class="form-group">
              <input type="email"
                     class="form-control mb-3"
                     [(ngModel)]="email"
                     name="email"
                     placeholder="Email">
            </div>
            <div *ngIf="error"
                 class="form-group alert alert-danger">
              <p class="mb-3">Wrong Email or Email is not registered.</p>
            </div>
            <div *ngIf="success"
                 class="form-group alert alert-success">
              <p class="mb-3">Password reset email sent.</p>
            </div>

            <button class="btn btn-primary btn-lg mt-4 align-self-center"
                    (click)="resetPassword()">Reset
              Password</button>
            <button routerLink="/login"
                    class="btn btn-primary btn-lg mt-2 align-self-center">Back to Login</button>
          </form>
        </div>
      </div>

    </div>

  </div>