<!-- TITLE -->

<div class="title">
    <div class="title-buttons">
        <mat-icon (click)="collapseInfo = !collapseInfo; orderInfo = true"
                  [ngClass]="{ rotate: collapseInfo === false }">expand_more</mat-icon>
        <h1 class="breakWord">{{ sandwich.name }}</h1>
    </div>

    <!-- PRICE INDICATOR -->

    <div class="title-buttons">
        <h1 class="priceText">{{ titlePrice }} Ft</h1>
        <mat-icon (click)="orderInfo = !orderInfo; collapseInfo = true"
                  [ngClass]="{ rotate: orderInfo === false }">add</mat-icon>
    </div>
</div>

<!-- DESCRIPTION -->

<div *ngIf="collapseInfo === false"
     class="card-collapse">
    <div class="ingredients">
        <p class="fst-italic fs-4 text-decoration-underline py-0 my-1 mb-2">Ingredients:</p>

        <p class="my-1 mx-5"><span class="text-decoration-underline">Bread:</span> {{sandwich.bread}}</p>
        <p class="my-1 mx-5"><span class="text-decoration-underline">Meat:</span> {{sandwich.meat}}</p>
        <p class="my-1 mx-5"><span class="text-decoration-underline">Cheese:</span> {{sandwich.cheese}}</p>
        <p class="my-1 mx-5"><span class="text-decoration-underline">Vegetables:</span> {{sandwich.vegetables}}</p>
        <p class="my-1 mx-5"><span class="text-decoration-underline">Sauce:</span> {{sandwich.sauce}}</p>

    </div>

    <button (click)="deleteSandwich(sandwich.name)"
            type="button"
            class="btn btn-primary my-4">Delete</button>
</div>

<!-- ORDER -->

<div *ngIf="orderInfo === false"
     class="card-collapse">
    <div class="order">
        <!-- REMOVE -->
        <mat-icon (click)="removeQty()">remove</mat-icon>
        <!-- QTY INDICATOR -->
        <div class="order-input">
            <p>Qty:</p>
            <p class="input">{{quantity}}</p>
        </div>
        <!-- ADD -->
        <mat-icon (click)="addQty()">add</mat-icon>
    </div>
    <!-- ORDER BTN -->
    <button (click)="addOrder()"
            type="button"
            class="btn btn-primary my-3">Add to cart</button>
</div>